<body>
    {{#if dev}}
    {{> devBanner}}
    {{/if}}
    <p>
        <b>{{name}} ({{email}})</b> vous a contacté
    </p>
    <hr>
    <h1>Message:</h1>
    <h2>{{title}}</h2>
    <p>{{message}}</p>
</body>