<head>
    <style>
        section {
            background-color: white;
            border-radius: 10px;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            position: relative;
        }

        #content {
            padding: 20px 10%;
        }
    </style>
</head>

{{> header title="test"}}

<body>
    <section>


        <div id="content">
            <h1>{{translate 'comments'}}</h1>
            <p>{{{message}}}</p>
        </div>

        {{> footer}}
    </section>
</body>