<head>
  <meta name="color-scheme" content="only">
  <style>
    html {
      font-family: 'Montserrat', sans-serif;
    }

    html,
    body {
      background: white;
      padding: 4px;
    }

    section {
      background-color: white;
      border-radius: 10px;
      border: 1px solid #e8e8e8;
      overflow: hidden;
      position: relative;
    }

    #content {
      padding: 20px 10%;
    }
  </style>
</head>

<section>
  {{> header}}

  <div id="content">
    <h1>{{subject}}</h1>
    <p>{{{message}}}</p>
  </div>

  {{> footer}}
</section>