<head>
    <style>
        html {
            font-family: 'Montserrat', sans-serif;
        }

        header {
            display: flex;
            position: relative;
        }

        #waves {}

        #title {
            color: white;
            z-index: 2;
            font-size: 2rem;
            margin: 20px;
            margin-left: 73px;
        }

        #logo {
            position: absolute;
            border-radius: 50%;
            border: 1px solid #e8e8e8;
            background: #272727;
            width: 50px;
            margin: 0 auto;
            transform: translate(-50%, 0);
            top: 20px;
            left: 38px;
            z-index: 1;
        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" />
</head>

<header>
    <img src="https://drive.google.com/file/d/1BjwkqNEbTKLFPCXG4bYmHevn6HWLH8Qy/preview?rm=minimal" alt="waves"
        id="waves">
    <img id="logo" src="https://drive.google.com/file/d/1uQPqyzY6Y8Zh5ePES1kdGvezbyeh2ubI/preview?rm=minimal"
        alt="logo">
    <h1 id="title">{{title}}</h1>
</header>