@import './_theme.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  color: $theme-black;
}

body {
  margin: 0;
  padding: 0;

  // Scroll bar
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $theme-black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $theme-green;
  }
}

main {
  margin-left: 5rem;
}
