@import './_theme.scss';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

:root {
  font-family: 'Montserrat', sans-serif;
  color: $theme-black;
}

body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $theme-black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $theme-green;
  }
}

main {
  margin-left: 5rem;
  transition: 0.6s ease;
  &.open {
    margin-left: 16rem;
  }
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #a7a7a7;
}

svg,
img {
  user-select: none;
}

h1 {
  margin: 15px 0;
  font-size: 3rem;
}

h2 {
  margin: 10px 0;
  font-size: 2rem;
}

h3 {
  margin: 5px 0;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}
